.event-cover{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: wrap;
}
.event-card{
    margin-right: 2em;
    margin-bottom: 2em;
}
@media(max-width:625px){
    .event-cover{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .event-card{
        margin-right: 0 !important;
    }
}