{% extends "base.html" %}

{% block title %}Gallary{% endblock title %}

{% block link %}"../static/events.css"{% endblock link %}

{% block body %}
<div class="event-cover pt-5 pb-5">
  {% for event in events %}
  <div class="card event-card" style="width: 398px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <img src="{{event.event_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center fw-bold text-primary">{{event.event_name}}</h5>
      <p class="fs-5 text-center">{{event.event_date}}</p>
      <p class="card-text">{{event.event_description}}</p>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock body %}